.cards {
    display: grid;
    left: 50%;
    gap: 2rem;
    /* 自动排列 */
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 30ch);

    .card {
        animation: slide-fade-in both;
        /* 使用浏览器的视图时间线,允许动画根据视口的变化进行同步 */
        animation-timeline: view();
        /* 定义动画时间范围 */
        animation-range: contain 0% contain 50%;
        border-radius: 10px;
        line-height: 6;
        box-shadow: 0px 8px 20px #00000022;
        font-size: 32px;
        letter-spacing: 5px;
        color: #fff;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: linear-gradient(to bottom right,
                #f1f9fd,
                #ccdef8,
                #e5fafd,
                #f8ecfc,
                #fde6f3,
                #fdeaef);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card img {
        width: 100%;
        height: 100%;
    }

    .card:nth-of-type(4n) {
        grid-column: span 2;
    }

    .card:nth-of-type(5n) {
        grid-column: span 2;
    }

    .card:nth-of-type(7n) {
        grid-row: span 2;
    }
}