@font-face {
    font-family: "AlimamaShuHeiTi-Bold";
    src: url("../../public/font/AlimamaShuHeiTi-Bold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "AlimamaShuHeiTi-Bold", sans-serif;
    background:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)),
        url(../../public/img/bg.png) no-repeat center center fixed;
    background-size: cover;
}

.partOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.box2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.box2 img {
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.ball {
    animation: float 3.5s ease-in-out infinite;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 77% 30%,
            white 5px,
            aqua 8%,
            rgb(84, 84, 179) 60%,
            aqua 100%);
    box-shadow: inset 0 0 20px #fff,
        inset 10px 0 46px #eaf5fc,
        inset 88px 0px 60px #c2d8fe,
        inset -20px -60px 100px #fde9ea,
        inset 0 50px 140px #fde9ea,
        0 0 110px #fff;
}

.box:nth-child(2) {
    z-index: -999;
}

.box:nth-child(2) .ball {
    left: -80px;
    top: 35px;
    width: 100px;
    height: 100px;
    z-index: -999;
    opacity: .5;
}

.box:nth-child(3) .ball {
    left: 80px;
    top: -80px;
    width: 20px;
    height: 20px;
    opacity: .1;
}

.shadow {
    background: #b490b27c;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
}

.box:nth-child(2) .shadow {
    width: 90px;
    height: 20px;
    top: 72.5%;
    left: -75px;
    opacity: .4;
}

/* 添加漂浮动画 */
@keyframes float {
    0% {
        transform: translatey(0px) rotate(-10deg);
    }

    50% {
        transform: translatey(-80px) rotate(10deg);
    }

    100% {
        transform: translatey(0px) rotate(-10deg);
    }
}

@keyframes expand {

    0%,
    100% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }
}

#nav {
    position: relative;
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 49px #00000033;
    padding: 10px;
    align-items: center;
    /* 垂直居中 */
}

#nav li a {
    position: relative;
    padding: 15px 50px;
    font: 500 24px;
    border: none;
    outline: none;
    color: #4664b4;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 60px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(219, 227, 253);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(198, 212, 255, 0.5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}

.Tip {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.Tip button {
    border: none;
    background-color: transparent;
    font-family: "AlimamaShuHeiTi-Bold", sans-serif;
    font-size: 36px;
    color: #ffffff;
    animation: fadeInOut 3s infinite;
}

.Tip button:hover {
    color: #f5f5f5;
}

/* 添加 canvas 的样式 */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    /* 确保 canvas 在所有内容的下方 */
}