@font-face {
    font-family: "AlimamaShuHeiTi-Bold";
    src: url("../../public/font/AlimamaShuHeiTi-Bold.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "AlimamaShuHeiTi-Bold", sans-serif;
    background:
        linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)),
        url(../../public/img/bg.png) no-repeat center center fixed;
    background-size: cover;
}

.partOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.partTwo {
    min-block-size: 100%;
    display: grid;
    place-content: center;
    padding-bottom: 30dvh;
}

@keyframes slide-fade-in {
    from {
        opacity: 0;
        box-shadow: none;
        transform: scale(.8) translateY(15vh);
    }
}

.cards {
    display: grid;
    left: 50%;
    gap: 2rem;
    /* 自动排列 */
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 30ch);
}

.card {
    animation: slide-fade-in both;
    /* 使用浏览器的视图时间线,允许动画根据视口的变化进行同步 */
    animation-timeline: view();
    /* 定义动画时间范围 */
    animation-range: contain 0% contain 50%;
    border-radius: 10px;
    line-height: 6;
    box-shadow: 0px 8px 20px #00000022;
    font-size: 32px;
    letter-spacing: 5px;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,
            #f1f9fd,
            #ccdef8,
            #e5fafd,
            #f8ecfc,
            #fde6f3,
            #fdeaef);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
}

.card:nth-of-type(4n) {
    grid-column: span 2;
}


.card:nth-of-type(5n) {
    grid-column: span 2;
}

.card:nth-of-type(7n) {
    grid-row: span 2;
}

.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.Tool {
    position: fixed;
    /* 固定在视口 */
    left: 0;
    /* 固定在页面最左侧 */
    top: 50%;
    /* 垂直居中 */
    transform: translateY(-50%);
    /* 垂直居中 */
    width: 100px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
    z-index: 1000;
    /* 确保它在其他内容之上 */
}

.tbox {
    display: block;
    height: 15%;
    width: 85%;
    margin: 9px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    color: #fff;
}

.tbox i {
    font-size: 60px;
    position: absolute;
    margin: 7px 0 0 13px;
}

.tbox:nth-child(1)::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
}

.tbox span {
    text-decoration: none;
    position: relative;
    top: 22px;
    left: 122px;
    font-weight: 500;
    font-size: 28px;
    opacity: 0;
    transition: .1s;
    display: inline-block;
    /* 调整显示方式 */
}

.Tool:hover {
    width: 270px;
}

.tbox:hover {
    background-color: rgb(170, 190, 255);
    border-radius: 10px;
}

.tbox:hover span {
    opacity: 1;
}

.tbox:hover {
    color: #fff;
}

.box2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.box2 img {
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.ball {
    animation: float 3.5s ease-in-out infinite;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    /* 为球的背景添加径向渐变，渐变中心在 77% 水平、30% 垂直位置 */
    background: radial-gradient(circle at 77% 30%,
            /* 渐变起点颜色为白色，半径为 5 像素 */
            white 5px,
            /* 渐变颜色从白色平滑过渡到淡蓝色，半径为 8% */
            aqua 8%,
            /* 渐变颜色从淡蓝色平滑过渡到深蓝色，半径为 60% */
            rgb(84, 84, 179) 60%,
            /* 渐变颜色从深蓝色平滑过渡到淡蓝色，半径为 100% */
            aqua 100%);
    /* 为球添加多重内阴影效果 */
    /* 内部白色阴影，宽度 20 像素 */
    box-shadow: inset 0 0 20px #fff,
        /* 内部淡蓝色阴影，位置偏右 10 像素，宽度 46 像素 */
        inset 10px 0 46px #eaf5fc,
        /* 内部浅蓝色阴影，位置偏右 88 像素，宽度 60 像素 */
        inset 88px 0px 60px #c2d8fe,
        /* 内部淡橙色阴影，位置偏左上方，宽度 100 像素 */
        inset -20px -60px 100px #fde9ea,
        /* 内部淡橙色阴影，位置偏下方，宽度 140 像素 */
        inset 0 50px 140px #fde9ea,
        /* 外部白色阴影，宽度 90 像素 */
        0 0 110px #fff;
}

.box:nth-child(2) {
    z-index: -999;
}

.box:nth-child(2) .ball {
    left: -80px;
    top: 35px;
    width: 100px;
    height: 100px;
    z-index: -999;
    opacity: .5;
}

.box:nth-child(3) .ball {
    left: 80px;
    top: -80px;
    width: 20px;
    height: 20px;
    opacity: .1;
}

.shadow {
    background: #b490b27c;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
}

.box:nth-child(2) .shadow {
    width: 90px;
    height: 20px;
    top: 72.5%;
    left: -75px;
    opacity: .4;
}

/* 添加漂浮动画 */
@keyframes float {
    0% {
        transform: translatey(0px) rotate(-10deg);
    }

    50% {
        transform: translatey(-80px) rotate(10deg);
    }

    100% {
        transform: translatey(0px) rotate(-10deg);
    }
}

@keyframes expand {

    0%,
    100% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }
}

#nav {
    position: relative;
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 49px #00000033;
    padding: 10px;
    align-items: center;
    /* 垂直居中 */
}

#nav li a {
    position: relative;
    padding: 15px 50px;
    font: 500 24px;
    border: none;
    outline: none;
    color: #4664b4;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 60px;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(219, 227, 253);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(198, 212, 255, 0.5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}

.Tip {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.Tip button {
    border: none;
    background-color: transparent;
    font-family: "AlimamaShuHeiTi-Bold", sans-serif;
    font-size: 36px;
    color: #ffffff;
    animation: fadeInOut 3s infinite;
}

.Tip button:hover {
    color: #f5f5f5;
}

/* 添加 canvas 的样式 */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -11;
    /* 确保 canvas 在所有内容的下方 */
}