---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Huaxiaoke - 插画一览" description="欣赏精美的插画作品集">
    <link rel="stylesheet" href="/src/styles/gallery.css" />

    <div class="partTwo" transition:name="main-content">
        <div class="cards"></div>
    </div>

    <script src="/src/scripts/imageGallery.js"></script>
</Layout>
