<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/styles/nav.css" />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="public/img/icon.ico"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <title>Huaxiaoke</title>
  </head>

  <body>
    <canvas></canvas>

    <div class="partOne">
      <div class="shell">
        <div class="box">
          <div class="ball"></div>
          <div class="shadow"></div>
        </div>

        <div class="box">
          <div class="ball"></div>
          <div class="shadow"></div>
        </div>

        <div class="box">
          <div class="ball"></div>
        </div>
      </div>
      <ul id="nav">
        <li class="slide1"></li>
        <li class="slide2"></li>
        <li><a href="#" data-href="#">主页</a></li>
        <li><a href="work.html" data-href="work.html">直播资讯</a></li>
        <li><a href="member.html" data-href="member.html">插画一览</a></li>
        <li><a href="mark.html" data-href="mark.html">当期活动</a></li>
        <li><a href="about.html" data-href="about.html">关于我们</a></li>
        <li>
          <a
            href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
            data-href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
            target="_blank"
            rel="noopener noreferrer">B站传送门</a
          >
        </li>
      </ul>

      <div class="Tool"></div>

      <div class="box2">
        <img src="../../public/icon/pull.png" id="pull" />
      </div>
    </div>

    <div class="partTwo">
      <div class="cards">
        <div class="card"><img src="../img/wife3.jpg" /></div>
        <div class="card"><img src="../img/wife4.png" /></div>
        <div class="card"><img src="../img/wife5.jpg" /></div>
        <div class="card"><img src="../img/wife6.jpg" /></div>
        <div class="card"><img src="../img/wife7.png" /></div>
      </div>
    </div>

    <div class="Tip">
      <button id="backToTopBtn">已经到底啦~</button>
    </div>
  </body>
  <script>
    // @ts-nocheck
    document.addEventListener("DOMContentLoaded", function () {
      const navLinks = document.querySelectorAll("#nav a");
      const slide1 = document.querySelector("#nav .slide1");
      const slide2 = document.querySelector("#nav .slide2");

      // 点击事件
      navLinks.forEach((link) => {
        link.addEventListener("click", function () {
          const parent = this.parentElement;
          const position = parent.offsetLeft;
          const width = parent.offsetWidth;

          slide1.style.opacity = "1";
          slide1.style.left = position + "px";
          slide1.style.width = width + "px";
        });
      });

      // 鼠标悬停事件
      navLinks.forEach((link) => {
        link.addEventListener("mouseover", function () {
          const parent = this.parentElement;
          const position = parent.offsetLeft;
          const width = parent.offsetWidth;

          slide2.style.opacity = "1";
          slide2.style.left = position + "px";
          slide2.style.width = width + "px";
          slide2.classList.add("squeeze");
        });

        link.addEventListener("mouseout", function () {
          slide2.style.opacity = "0";
          slide2.classList.remove("squeeze");
        });
      });

      // 设置初始状态
      const thirdNavItem = document.querySelector("#nav li:nth-of-type(3)");
      if (thirdNavItem) {
        const currentWidth = thirdNavItem.offsetWidth;
        const currentLeft = thirdNavItem.offsetLeft;

        slide1.style.left = currentLeft + "px";
        slide1.style.width = currentWidth + "px";
      }
    });
  </script>

  <script>
    // 自定义滚动函数
    function scrollToTop(duration) {
      const start = window.pageYOffset;
      const startTime =
        "now" in window.performance ? performance.now() : new Date().getTime();

      function scroll() {
        const now =
          "now" in window.performance
            ? performance.now()
            : new Date().getTime();
        const timeElapsed = now - startTime;
        const progress = Math.min(timeElapsed / duration, 1);

        window.scrollTo(0, start - start * progress);

        if (timeElapsed < duration) {
          requestAnimationFrame(scroll);
        }
      }

      requestAnimationFrame(scroll);
    }

    document
      .getElementById("backToTopBtn")
      .addEventListener("click", function () {
        scrollToTop(6500); // 1000毫秒（1秒）的滚动时间
      });
  </script>

  <script>
    // @ts-nocheck
    // 定义星星的颜色
    const STAR_COLOR = "#fff";

    // 定义星星的大小
    const STAR_SIZE = 3.5;

    // 定义星星的最小缩放比例
    const STAR_MIN_SCALE = 0.2;

    // 定义溢出阈值
    const OVERFLOW_THRESHOLD = 50;

    // 定义星星的数量
    const STAR_COUNT = (window.innerWidth + window.innerHeight) / 8;

    // 获取canvas元素
    const canvas = document.querySelector("canvas");

    // 获取canvas的绘图上下文
    const context = canvas.getContext("2d");

    // 定义缩放比例
    let scale = 1; // device pixel ratio

    // 定义宽度和高度
    let width;
    let height;

    // 定义星星数组
    let stars = [];

    // 定义鼠标指针的位置
    let pointerX;
    let pointerY;

    // 定义速度对象
    let velocity = { x: 0, y: 0, tx: 0, ty: 0, z: 0.0009 };

    // 定义触摸输入标志
    let touchInput = false;

    // 生成星星
    generate();

    // 调整大小
    resize();

    // 运行动画
    step();

    window.onresize = resize;

    canvas.onmousemove = onmousemove;

    canvas.ontouchmove = ontouchmove;

    canvas.ontouchend = onmouseleave;

    // 当鼠标离开文档时，更新鼠标指针位置
    document.onmouseleave = onmouseleave;

    // 生成星星
    function generate() {
      for (let i = 0; i < STAR_COUNT; i++) {
        stars.push({
          x: 0,
          y: 0,
          z: STAR_MIN_SCALE + Math.random() * (1.4 - STAR_MIN_SCALE),
        });
      }
    }

    // 将星星放置到随机位置
    function placeStar(star) {
      star.x = Math.random() * width;
      star.y = Math.random() * height;
    }

    // 回收星星并重新放置到新的位置
    function recycleStar(star) {
      // 初始化方向为 'z'
      let direction = "z";

      // 获取速度的绝对值
      let vx = Math.abs(velocity.x);
      let vy = Math.abs(velocity.y);

      // 如果速度的绝对值大于1，则根据速度的大小随机确定方向
      if (vx > 1 || vy > 1) {
        let axis;

        // 如果水平速度大于垂直速度，则根据水平速度的比例随机确定水平或垂直方向
        if (vx > vy) {
          axis = Math.random() < vx / (vx + vy) ? "h" : "v";
        } else {
          axis = Math.random() < vy / (vx + vy) ? "v" : "h";
        }

        // 根据方向确定具体的移动方向
        if (axis === "h") {
          direction = velocity.x > 0 ? "l" : "r";
        } else {
          direction = velocity.y > 0 ? "t" : "b";
        }
      }

      // 随机设置星星的缩放比例
      star.z = STAR_MIN_SCALE + Math.random() * (1 - STAR_MIN_SCALE);

      // 根据方向设置星星的位置
      if (direction === "z") {
        // 如果方向为 'z'，则将星星放置在屏幕中心
        star.z = 0.1;
        star.x = Math.random() * width;
        star.y = Math.random() * height;
      } else if (direction === "l") {
        // 如果方向为 'l'，则将星星放置在屏幕左侧
        star.x = -OVERFLOW_THRESHOLD;
        star.y = height * Math.random();
      } else if (direction === "r") {
        // 如果方向为 'r'，则将星星放置在屏幕右侧
        star.x = width + OVERFLOW_THRESHOLD;
        star.y = height * Math.random();
      } else if (direction === "t") {
        // 如果方向为 't'，则将星星放置在屏幕顶部
        star.x = width * Math.random();
        star.y = -OVERFLOW_THRESHOLD;
      } else if (direction === "b") {
        // 如果方向为 'b'，则将星星放置在屏幕底部
        star.x = width * Math.random();
        star.y = height + OVERFLOW_THRESHOLD;
      }
    }

    // 调整大小
    function resize() {
      // 获取设备像素比例
      scale = window.devicePixelRatio || 1;

      // 设置画布的宽度和高度
      width = window.innerWidth * scale;
      height = window.innerHeight * scale;
      canvas.width = width;
      canvas.height = height;

      // 将所有星星重新放置到屏幕上
      stars.forEach(placeStar);
    }

    // 动画的每一帧
    function step() {
      // 清空画布
      context.clearRect(0, 0, width, height);

      // 更新星星的位置和速度
      update();

      // 绘制星星
      render();

      // 请求下一帧动画
      requestAnimationFrame(step);
    }

    // 更新星星的位置和速度
    function update() {
      // 缓动速度
      velocity.tx *= 0.96;
      velocity.ty *= 0.96;

      // 更新速度
      velocity.x += (velocity.tx - velocity.x) * 0.8;
      velocity.y += (velocity.ty - velocity.y) * 0.8;

      // 遍历所有星星
      stars.forEach((star) => {
        // 根据速度和缩放比例更新星星的位置
        star.x += velocity.x * star.z;
        star.y += velocity.y * star.z;

        // 根据速度和缩放比例更新星星的位置（使星星围绕屏幕中心旋转）
        star.x += (star.x - width / 2) * velocity.z * star.z;
        star.y += (star.y - height / 2) * velocity.z * star.z;

        // 更新星星的缩放比例
        star.z += velocity.z;

        // 如果星星超出屏幕范围，则重新放置到屏幕上
        if (
          star.x < -OVERFLOW_THRESHOLD ||
          star.x > width + OVERFLOW_THRESHOLD ||
          star.y < -OVERFLOW_THRESHOLD ||
          star.y > height + OVERFLOW_THRESHOLD
        ) {
          recycleStar(star);
        }
      });
    }

    // 绘制星星
    function render() {
      // 遍历所有星星
      stars.forEach((star) => {
        // 设置绘制星星的样式
        context.beginPath();
        context.lineCap = "round";
        context.lineWidth = STAR_SIZE * star.z * scale;
        context.globalAlpha = 0.5 + 0.5 * Math.random();
        context.strokeStyle = STAR_COLOR;

        // 绘制星星的路径
        context.beginPath();
        context.moveTo(star.x, star.y);

        // 计算星星的尾巴坐标
        let tailX = velocity.x * 2;
        let tailY = velocity.y * 2;

        // 如果尾巴坐标的绝对值小于0.1，则设置为0.5
        if (Math.abs(tailX) < 0.1) tailX = 0.5;
        if (Math.abs(tailY) < 0.1) tailY = 0.5;

        // 绘制星星的尾巴
        context.lineTo(star.x + tailX, star.y + tailY);
        context.stroke();
      });
    }
  </script>

  <!-- 导航栏延迟 -->
  <script>
    document.querySelectorAll("#nav a").forEach((link) => {
      link.addEventListener("click", function (event) {
        const targetUrl = this.getAttribute("data-href");
        const isExternalLink =
          this.hasAttribute("target") &&
          this.getAttribute("target") === "_blank";

        event.preventDefault();
        const nav = document.getElementById("nav");

        nav.classList.add("animate");

        setTimeout(() => {
          if (isExternalLink) {
            window.open(targetUrl, "_blank", "noopener,noreferrer");
          } else {
            window.location.href = targetUrl;
          }
        }, 700);
      });
    });
  </script>
</html>
