<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="public/img/icon.ico"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <title>Huaxiaoke</title>
  </head>

  <body>
    <canvas></canvas>

    <div class="partOne">
      <div class="shell">
        <div class="box">
          <div class="ball"></div>
          <div class="shadow"></div>
        </div>

        <div class="box">
          <div class="ball"></div>
          <div class="shadow"></div>
        </div>

        <div class="box">
          <div class="ball"></div>
        </div>
      </div>
      <ul id="nav">
        <li class="slide1"></li>
        <li class="slide2"></li>
        <li><a href="#" data-href="#">主页</a></li>
        <li><a href="work.html" data-href="work.html">直播资讯</a></li>
        <li><a href="member.html" data-href="member.html">插画一览</a></li>
        <li><a href="mark.html" data-href="mark.html">当期活动</a></li>
        <li><a href="about.html" data-href="about.html">关于我们</a></li>
        <li>
          <a
            href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
            data-href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
            target="_blank"
            rel="noopener noreferrer">B站传送门</a
          >
        </li>
      </ul>

      <div class="Music">
        <div class="album-cover-container" id="albumCoverContainer">
          <img id="albumCoverSmall" src="public/img/temp/temp.png" />
        </div>

        <div class="tbox" id="playBtn">
          <i class="fas fa-play"></i>
        </div>
        <div class="tbox" id="pauseBtn" style="display: none;">
          <i class="fas fa-pause"></i>
        </div>
        <div class="tbox" id="nextBtn">
          <i class="fas fa-forward"></i>
        </div>
        <div class="tbox" id="volumeBtn">
          <i class="fas fa-volume-up"></i>
        </div>
        <div class="tbox" id="playlistBtn">
          <i class="fas fa-list"></i>
        </div>
      </div>

      <div class="box2">
        <img src="../../public/icon/pull.png" id="pull" />
      </div>
    </div>

    <div class="partTwo">
      <div class="cards"></div>
    </div>

    <div class="Tip">
      <button id="backToTopBtn">已经到底啦~</button>
    </div>
  </body>

  <script src="/src/scripts/roll.js"></script>
  <script src="/src/scripts/navhover.js"></script>
  <script src="/src/scripts/timeout.js"></script>
  <script src="/src/scripts/imageGallery.js"></script>
  <script src="/src/scripts/stars.js"></script>
  <script src="/src/scripts/musicPlayer.js" type="module"></script>
</html>
