<!-- 关于我们页面 -->
<div class="partTwo page-content" id="page-about" style="display: none;">
  <div class="about" id="main">
    <div class="about-intro">
      <h2 class="about-text-title" id="about-text-title"></h2>
      <p class="about-text-content" id="about-text-content"></p>
    </div>
    <div class="about-stage"></div>
  </div>
</div>
