18:39:41 [404] /download 3ms<div class="partTwo page-content" id="page-download" style="display: none;">
  <div style="display: flex; align-items: center; justify-content: center; height: 100%; color: rgba(255,255,255,0.5);">
    <h2>资源下载</h2>
  </div>
</div>
