<!-- 主页内容 -->
<div class="partTwo page-content" id="page-index" style="display: block;">
  <!-- <div id="live2d-container" aria-hidden="true"></div> -->
  <div id="blackboard">
    <div class="box-main">
      <h2 class="box-maintitle"># 最新视频</h2>
      <img src="/img/temp.png" alt="" />
      <p class="box-maintext">
        此事在Bilibili的华小科Official中亦有记载~
      </p>
    </div>
    <div class="box-main" id="home-latest-activity">
      <h2 class="box-maintitle"># 近期活动</h2>
      <img src="/img/temp.png" alt="" />
      <p class="box-maintext">加载中...</p>
    </div>
    <div class="box-main">
      <h2 class="box-maintitle"># 好物上架</h2>
      <img src="/img/haowu.jpg" alt="" />
      <p class="box-maintext">崭新周边，新鲜出炉，成本价只赚一点点QwQ</p>
    </div>
    <div class="box-main">
      <h2 class="box-maintitle"># 华科趣闻</h2>
      <img src="/img/temp.png" alt="" />
      <p class="box-maintext">
        悄悄跟你说嗷，其实华科的野猪是我们的Staff……
      </p>
    </div>
    <div class="box-main">
      <h2 class="box-maintitle"># 联动咨询</h2>
      <img src="/img/temp.png" alt="" />
      <p class="box-maintext">你知道吗，我从17年就想和XXX联动了TwT</p>
    </div>
  </div>
</div>
