<div class="partOne">
  <div class="shell">
    <div class="box">
      <div class="ball"></div>
      <div class="shadow"></div>
    </div>

    <div class="box">
      <div class="ball"></div>
      <div class="shadow"></div>
    </div>

    <div class="box">
      <div class="ball"></div>
    </div>
  </div>
  <ul id="nav">
    <li class="slide1"></li>
    <li class="slide2"></li>
    <li><a href="#" data-page="index">主页</a></li>
    <li><a href="#" data-page="live">足迹</a></li>
    <li><a href="#" data-page="gallery">插画一览</a></li>
    <li><a href="#" data-page="activity">当期活动</a></li>
    <li><a href="#" data-page="about">关于我们</a></li>
    <li>
      <a
        href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
        data-href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
        target="_blank"
        rel="noopener noreferrer">B站传送门</a
      >
    </li>
  </ul>

  <div class="box2">
    <img src="icon/pull.png" id="pull" />
  </div>
</div>
