<div class="partOne">
  <div class="shell">
    <div class="box">
      <div class="ball"></div>
      <div class="shadow"></div>
    </div>

    <div class="box">
      <div class="ball"></div>
      <div class="shadow"></div>
    </div>

    <div class="box">
      <div class="ball"></div>
    </div>
  </div>

  <ul id="nav">
    <li class="slide1"></li>
    <li class="slide2"></li>
    <li><a href="/" data-page="index">主页</a></li>
    <li><a href="/live" data-page="live">足迹</a></li>
    <li><a href="/gallery" data-page="gallery">插画一览</a></li>
    <li><a href="/activity" data-page="activity">当期活动</a></li>
    <li><a href="/about" data-page="about">关于我们</a></li>
    <li>
      <a
        href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
        data-href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
        target="_blank"
        rel="noopener noreferrer">传送门</a
      >
    </li>
  </ul>

  <button id="nav-hamburger" aria-expanded="false" aria-label="打开菜单">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div id="nav-mobile">
    <img src="/img/mobile-icon.webp" class="nav-mobile-icon" alt="HXK" />
    <ul>
      <li><a href="/" data-page="index">主页</a></li>
      <li><a href="/live" data-page="live">足迹</a></li>
      <li><a href="/gallery" data-page="gallery">插画一览</a></li>
      <li><a href="/activity" data-page="activity">当期活动</a></li>
      <li><a href="/about" data-page="about">关于我们</a></li>
      <li>
        <a
          href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
          data-href="https://space.bilibili.com/672455305?spm_id_from=333.337.0.0"
          target="_blank"
          rel="noopener noreferrer">传送门</a
        >
      </li>
    </ul>
    <div class="nav-mobile-footer">
      <p>© 2026 HXK Huaxiaoke Official Team<br>All Rights Reserved</p>
      <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">辽ICP备2026003216号</a>
    </div>
  </div>

  <div class="box2">
    <img src="/icon/pull.webp" id="pull" width="32" height="32" alt="" decoding="async" />
  </div>
</div>
